
app-navbar {
  width: 90%;
  max-width: 975px;
  height: 18%;
  position: fixed;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

app-footer {
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
  width: 90%;
  max-width: 975px;
  height: 12%;
  position: fixed;
  top: 85%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

