<nav>
  <header>
    <a routerLink="/greeting" id="profile-pic"><img src="assets/image/myphoto.jpg" alt="Tóth Ádám" ></a>
    <div id="header-text">
      <a id="brand" routerLink="/greeting">tothadesign</a>
      <p id="greeting">Junior webfejlesztő</p>
    </div>
  </header>
  <ul id="menu">
    <li><a id="intro" routerLink="/intro" routerLinkActive="active">Bemutatkozás</a> </li>
    <li><a id="references" routerLink="/prev-work" routerLinkActive="active">Referenciák</a></li>
    <li><a id="contact" routerLink="/contact" routerLinkActive="active">Kapcsolat</a></li>
  </ul>
</nav>