<div class="container">
    <h1>Referenciák</h1>
    <div id="refs">
        <a class="ref-group" href="https://prudmeri.hu" target="blank">
            <div id="image"><img src="./assets/image/prudmeri.png" alt="prudmeri"></div>
            <div class="ref-text">
                <h3>prudmeri.hu</h3>
                <h5>A Prűd Méri zenekar hivatalos oldala</h5>
                <p>Klasszikus HTML, CSS, Javascript alapú oldal. A galéria JS kódjára különösen büszke vagyok.</p>
            </div>
        </a>
        <a class="ref-group" href="http://matchmakergame.tothadi.hu" target="blank">
            <div id="image"><img src="./assets/image/matchmaker.gif" alt="matchmaker"></div>
            <div class="ref-text">
                <h3>Matchmaker Game</h3>
                <h5>Saját tervezésű és fejlesztésű párkereső játék</h5>
                <p>MEAN stack-ben írt párkereső játék, melyet gyakorlás céljából készítettem.</p>
            </div>
        </a>
        <a class="ref-group" href="http://kozpont.zkn.hu" target="blank">
            <div id="image"><img src="./assets/image/merleg.png" alt="merleg"></div>
            <div class="ref-text">
                <h3>RDF mérleg</h3>
                <h5>Zalaegerszegi RDF üzem hídmérlegének kijelzője és log-ja</h5>
                <p>MEAN stack-ben írt app, mely egy RS232/Ethernet konverteren keresztül kommunikál a mérleggel, a frontenden élőben megjeleníti az aktuális tömeget, majd mikor egy jármű elhagyja a mérleget, elmenti az értéket időbélyeggel.</p>
            </div>
        </a>
    </div>
</div>